/* Centering items for small screens */

@media (max-width: 576px) {
  .navbarCenteringItems {
    justify-content: center;
    text-align: start;
  }
}


.navElement {
  color: grey !important;
  text-decoration: none !important;
}