
  .containerMain {
   margin-top: 6rem;
  }


  @media (max-width: 576px) {
   .containerMain {
      margin-top: 4rem
   }
  }


  .LinkTo {
   text-decoration: none;

  }


  .footer {
   background-color: #495057;
   border: none;
  }
  .footer:hover {
   background-color: #5e6770; /* New color on hover */
   cursor: pointer;
 }

 .LinkTo {
   color: white;
   text-decoration: none;
   background-color: #495057;
   border: none;

 
  }
 
  .LinkTo:hover {
   text-decoration: none;
   color: white;
   background-color: #5e6770;
   
  }