.height {
  padding-top: 5rem; /* Full viewport height */
  display: flex;
  justify-content: center;
  flex-direction: column;
}


#profile-dropdown {
  color: grey !important;
  text-decoration: none !important;

}


@media (max-width: 576px) {
  .containerMain {
     margin-top: 4rem
  }
 }

 .container-main {
  margin-top: 6rem;
 }
