.height {
  height: 100vh; /* Full viewport height */
  display: flex;
  justify-content: center;
  flex-direction: column;
}

@media (max-width: 576px) {
  .navbar-nav {
    text-align: center;
  }
}
