.responsiveCard {
    width: 90%;

}



@media (min-width: 768px) {
    .responsiveCard {
        width: 80%;
    }
}


.EditIcon {
   position: absolute;
   right: 1%;
   top: 3%;
    
    
   font-size: 1.5rem;
}

.EditIcon:hover {
    cursor: pointer;
}

.CarImage {
   width: 100%;
   height: 350px;
   
}


