.responsiveCard {
    width: 90%;

}



@media (min-width: 768px) {
    .responsiveCard {
        width: 80%;
    }

    
   
}




.EditIcon {
   position: absolute;
   right: 8%;
   top: 3%;
   padding-right: 1rem;

    
   font-size: 1.5rem;
}

.EditIcon:hover, .DeleteIcon:hover  {
    cursor: pointer;
}





.DeleteIcon {
    position: absolute;
    right: 2%;
    top: 3%;
    font-size: 1.5rem;
    color: darkred;
}

